.bc-order-1 {
    margin: 40px;
}
.bc-order-img {
    height: 700px;
    width: 790px;
}
.bc-form-order {
    text-align: left;
}
.bc-home-price {
    margin-bottom: 20px;
}
.bc-home-button {
    margin-top: 30px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top:25px;
    padding-bottom: 25px;
}